psycopg2==2.9.10
Flask==3.0.0
flask-unittest==0.1.2
flask-HTTPAuth==4.7.0
nose2==0.10.0
PyYAML==6.0.2
uWSGI==2.0.30
requests==2.32.4
bcrypt==4.0.1
sqlalchemy==2.0.43
flask_stache==0.1.1
coverage==7.1.0
pytz==2025.2
